/* PRIMITIVE VARIABLES */
:root {

/* neutral and accent colors */
--white: #fff;
--slate-50:  #f8fafc;
--slate-100: #f1f5f9; 
--slate-200: #e2e8f0; 
--slate-400: #94a3b8; 
--slate-600: #475569; 
--slate-800: #1e293b; 

/* success and wellbeing colors */
--emerald-50: #ecfdf5; 
--emerald-100: #d1fae5; 
--emerald-200: #a7f3d0; 
--emerald-400: #34d399; 
--emerald-600: #059669; 
--emerald-800: #065f46; 

/* warning and stress */
--orange-50: #fff7ed; 
--orange-100: #ffedd5; 
--orange-200: #fed7aa; 
--orange-400: #fb923c; 
--orange-600: #ea580c; 
--orange-800: #9a3412; 

/* error colors */
--rose-50: #fff1f2; 
--rose-100: #ffe4e6; 
--rose-200: #fecdd3; 
--rose-400: #fb7185; 
--rose-600: #e11d48; 
--rose-800: #9f1239;

/* violet colors */
--violet-50: #f5f3ff; 
--violet-100: #ede9fe; 
--violet-200: #ddd6fe; 
--violet-400: #a78bfa; 
--violet-600: #7c3aed; 
--violet-800: #5b21b6;
}



/* SEMANTIC COLORS */
.bg-positive {background-color: var(--emerald-100);}
.bg-warning {background-color: var(--orange-100);}
.bg-negative {background-color: var(--rose-100);}
.bg-neutral {background-color: var(--slate-100);}

.bg-app {background-color: var(--slate-50);}
.bg-card {background-color: var(--white);}

.bg-wellbeing {background-color: var(--emerald-50);}
.bg-stress {background-color: var(--orange-50);}
.bg-enps {background-color: var(--violet-50);}

/* labels */
.label-wellbeing {background-color: var(--emerald-600);}
.label-stress {background-color: var(--orange-600);}
.label-enps {background-color: var(--violet-600);}

.label-positive {background-color: var(--emerald-600);}
.label-warning {background-color: var(--orange-600);}
.label-negative {background-color: var(--rose-600);}
.label-dark {background-color: var(--slate-800);}
.label-light {background-color: var(--slate-600);}
.label-placeholder {background-color: var(--slate-400);}

/* fills */
.fill-wellbeing {background-color: var(--emerald-600);}
.fill-stress {background-color: var(--orange-600);}
.fill-enps {background-color: var(--violet-600);}

/* controls */
.control-default {background-color: var(--slate-800);}
.control-hover {background-color: var(--slate-600);}

/* borders */
.border-default {background-color: var(--slate-200);}
.border-positive {background-color: var(--emerald-200);}
.border-warning {background-color: var(--orange-200);}
.border-negative {background-color: var(--rose-200);}


